@use "../../styles/variables.scss" as *;

.nav-links {
    display: flex;
    align-items: center;

    & .menu-btn {
        display: none;
        padding-top: 5px;
        background-color: var(--light);
        border: none;
        font-family: var(--bodyFont);
        font-size: 15px;
        outline: none;

        @media all and ($mobile) {
            display: block;
            cursor: pointer;
        }

        & > .active {
            display: inline;
        }
    }

    & ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @media all and ($mobile) {
            display: none;
        }
    }

    & ul > li {
        list-style: none;
        display: inline-block;
        font-size: 20px;
        padding: 0 4px;
    }

    & ul > li > a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        padding: 5px 0;
    }

    & ul > li > a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: width 0.5s ease-in-out;
    }

    & ul > li > a:hover::after {
        width: 100%;
    }
}
.hamburger,
.cross {
    stroke: var(--darkgray);
    display: none;
}
